# Application Environment
NODE_ENV=development

# AWS Configuration
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_REGION=us-east-1
AWS_BUCKET_NAME=askseer-dev

# CloudWatch Logging
LOG_GROUP_NAME=seer-db
LOG_STREAM_NAME=your-stream-name

# Database Configuration
DATABASE_URL="postgresql://postgres@localhost:5432/askseer"

# NextAuth Secret
AUTH_SECRET="your-nextauth-secret-key"

# Resend Email Configuration
AUTH_RESEND_KEY=re_your_resend_api_key
AUTH_RESEND_FROM="Seer <notifications@mail.yourdomain.com>"
